<dx-chart
    id="chart"
    [dataSource]="lineData"
    [stickyHovering]="false"
    title="Evolution of the filling rate during the selected period compared to the normal capacity">
    <dxi-series valueField="fill_rate" name="Series 1"></dxi-series>
    <dxi-series valueField="normal_capacity" name="Series 2"></dxi-series>
    <dxo-common-series-settings
        argumentField="normal_capacity"
        type="spline"
        hoverMode="includePoints">
        <dxo-point hoverMode="allArgumentPoints"></dxo-point>
    </dxo-common-series-settings>
    <dxo-legend
        verticalAlignment="bottom"
        horizontalAlignment="center"
        hoverMode="excludePoints">
    </dxo-legend>
    <dxo-export [enabled]="true"></dxo-export>
</dx-chart>
<div class="action">
    <dx-select-box
        id="choose-date"
        [dataSource]="lineData"
        [width]="200"   
        valueExpr="date"
        displayExpr="date"        
    ></dx-select-box>
    <div class="label">Select the start date :
    </div>
</div>
<div class="action">
    <dx-select-box
        id="choose-date"
        [dataSource]="lineData"
        [width]="200"   
        valueExpr="date"
        displayExpr="date"        
        
        ></dx-select-box>
    <div class="label">Select the end date:
    </div>
</div>

<div class="action">
    <dx-select-box
        id="choose-barrage"
        [dataSource]="lineData"
        [width]="200"   
        valueExpr="name"
        displayExpr="name"        
        
    >
    </dx-select-box>
    <div class="label">select a barrage name :
    </div>
</div>
