::ng-deep #chart {
    height: 440px;
    margin-left: 30px;
}
::ng-deep #label {
    
    margin-left: 5%;
}
::ng-deep #choose-date {
    float: right;
   
}
::ng-deep #choose-barrage {
    float: right;
   
}
::ng-deep .action {
    width: 400px;
    margin-top: 20px;
    margin-left: 50px;
}
::ng-deep .label {
    padding-top: 9px;
   
}