<div>
    <div class="time">{{currentTime | date:"HH:mm - EE MMM"}}</div>
    <div class="location">{{location.name}}, {{location.country}}</div>
    <div class= "temp">
        <span><img src="assets/{{weatherNow.weather[0].icon}}.png" alt=""></span>
        <div>Température {{weatherNow.main.temp | number:'1.0-0'}}°C</div>
        <div class="details">
            
            <div class="sub">
                Humidité: {{weatherNow.main.humidity}} %
            </div>
        </div>
        <div class="timeline">
            <h2>Prévisions 3 Heures</h2>
            <div *ngFor="let item of timeline">
            <div>{{item.time | date:'HH:mm'}}</div>
            <div>{{item.temp | number:'1.0-0'}} °C</div>
        </div>
    </div> 
</div> 